* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* pozadina */

.sub-header {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

/* Natpis */
.text-header h1 {
  width: 97%;
  color: #fff;
  position: absolute;
  top: 25%;
  text-align: center;
  font-size: 30px;
}

/* logo */
.logo img {
  width: 220px;
}

/* ISTRAZI DUGME na naslovnoj */
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
}

/* sendvic meni da se ne prikazuzuje u desktop formatu */
nav .fa {
  display: none;
}

/* Nazad dugme */

.back-but {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid #f44336;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.back-but:hover {
  background-color: #f44336;
}

.page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* Flex container for section 1 content */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  text-align: justify;
  margin-right: 50px;
  flex-basis: 50%;
  /* align-items: stretch; */
}

/* Flex container for section 1 content */
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  text-align: justify;
}

/* Style for section 1 heading */
.section h1,
.section-2 h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Style for section 1 paragraphs */
.section p,
.section-2 p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Style for section 1 link */
.section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 767px) {
  .text-header h1 {
    font-size: 30px;
  }
  .page {
    width: 100%;
    padding: 10px;
  }

  .section {
    margin-right: 0;
    flex-basis: 100%;
  }
}
