.card {
  max-width: 250px;
  max-height: 70vh;
  text-align: center;
  display: inline-block;
}

.card img {
  height: 90%;
  width: auto;
}

.card:hover img {
  opacity: 0.6;
}

.card-title {
  font-size: 30px;
}

.card-body p {
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.card-body a {
  text-decoration: none;
  color: black;
}

.card:hover .card-body p {
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

@media only screen and (max-width: 768px) {
  .card {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .col.mb-4 {
    flex: 0 0 calc(33.33% - 20px); /* 33.33% širine sa malo prostora između */
    margin: 10px; /* Prostor između kartica */
    max-width: calc(33.33% - 20px); /* Dodajte maksimalnu širinu za kartice */
    height: 100%; /* Dodajte visinu na 100% */
  }

  .card {
    max-width: 250px;
    max-height: 100vh;
    text-align: center;
    display: inline-block;
    height: 100%; /* Dodajte visinu na 100% */
  }
}
