/* GLAVNA STRANICA */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

select {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #222;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

#country-select {
  margin-top: 50px;
}

#submit-btn {
  background-color: #f44336;
  border: 1px solid white;
  margin: 55px;
}

/* trenutno se odnosi na kontakte */

.row a {
  text-decoration: none;
  color: black;
}

.col-md-3,
.col-sm-6 {
  text-align: center;
}

.contacts-img {
  width: 150px;
  height: 150px;
  padding: 20px;
}
