.header-blog {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/blog.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-header h1 {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
  text-align: center;
  transform: translate(-50% -50%);
  font-size: 30px;
}

.articles {
  max-width: 1500px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.articles-col {
  flex-basis: calc(
    25% - 20px
  ); /* 25% za jednaku raspodelu slika, minus 20px za margine između slika */
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* camino de santiago */
.articles-col img {
  width: 100%;
  border-radius: 10px;
  height: 50vh;
}

.articles-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.articles-col:hover img {
  opacity: 0.7; /* na hover, postavljamo neprozirnost slike na 0.7 */
}

.articles-col p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.articles-col:hover p {
  opacity: 1; /* na hover, postavljamo neprozirnost teksta na 1 */
}

.articles-col a {
  text-decoration: none;
  color: black;
}

/* Stilovi za tablet uređaje */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .text-header {
    font-size: 24px;
  }

  .articles-col {
    flex-basis: calc(50% - 20px);
  }

  .articles-col img {
    height: 400px;
  }
}

/* Stilovi za mobilne uređaje */
@media screen and (max-width: 767px) {
  .text-header {
    font-size: 20px;
  }

  .articles-col {
    flex-basis: calc(100% - 20px);
  }

  .articles-col img {
    width: 100%;
    height: auto;
  }
}

/* Nazad dugme */

.back-but {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid #f44336;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.back-but:hover {
  background-color: #f44336;
}
