.header-gear {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://media.istockphoto.com/id/925356980/photo/hiking-equipment-backpack-and-boots-on-top-of-mountain.jpg?b=1&s=170667a&w=0&k=20&c=yOBv7W8L8lWflUDVn8oTqV60eXv_F-mi979H6PmE6cc=);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gear-quotes {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 89px;
  font-style: italic;
}

.gear {
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
  margin-left: 10%;
  text-align: justify;
}

.gear p {
  padding: 15px 0 25px;
}

#gear-basic {
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: justify;
}
