/* HEADERI SLIKE */

#glavna {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images-camino/školjka.jpg);
}
#putevimaDuhovneAvanture {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images-camino/školjka.jpg);
}

.img-camino {
  display: flex;
  justify-content: center;
}

.img-camino img {
  margin: 5px;
  max-height: 500px;
  object-fit: cover;
}

.img-camino p {
  text-align: center;
  margin-top: 5px;
  max-width: 100%;
}

/* mape */

.maps {
  width: 20%;
}
