.page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flex container for section 1 content */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  text-align: justify;
  margin-right: 50px;
}

/* Flex container for section 1 content */
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  text-align: justify;
}

/* Style for section 1 heading */
.section-1 h1,
.section-2 h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Style for section 1 paragraphs */
.section-1 p,
.section-2 p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Style for section 1 link */
.section-1 a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Style for section 2 image */
.section-2 img {
  max-width: 70%;
  margin-bottom: 20px;
}
