/* Header section */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), #04091eb3),
    url(/home/img/naslovna.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 5%;
  text-align: center;
}

.image-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
}

.section {
  width: 100%;
  margin-left: 0;
}

.section h2 {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .section {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0;
  }
}
