.img-container img {
  width: 100%;
  height: 350px;
  align-items: center;
  margin-bottom: 20px;
}

.img-container p {
  text-align: center;
}

#map {
  width: 100%;
  height: fit-content;
}

h3 {
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .img-container img {
    width: 100%;
  }
}

h4 a {
  color: black;
  /* text-decoration: none; */
}

p a {
  color: red;
  text-decoration: none;
  /* font-size: 15px; */
}
